$border: #00000030;
$linkBlue: #42a5f5;
#root {
  width: 100%;
  height: 100%;
}
html,body{
  height: 100%;
  width: 100%;
}

.flex-placeholder {
  flex-grow: 1;
  flex-shrink: 1;
}

.filesContainer {

  border-top: 1px solid $border;
  border-left: 1px solid $border;
  border-right: 1px solid $border;

  .file {
    line-height: 25px;
    border-bottom: 1px solid $border;
    padding: 2px 15px;
    display: flex;

    .fileActions {
      //display: none;
      .fileAction {
        padding: 2px 5px;
      }
    }

    .fileName {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &:hover {
      box-shadow: 0 1px 10px 0 $border;
      z-index: 1;
      background: #fafafa;
      cursor: pointer;

      .fileName, .fileIcon {
        color: $linkBlue;
      }

      .fileActions {
        display: block;

        .fileAction {
          &:hover {
            box-shadow: 0 1px 10px 0 $border;

            color: $linkBlue;
          }
        }

      }
    }

    .iconfont {
      font-size: 25px;
    }
  }

  .action {
    display: none;
  }

}

.currentPath {
  font-size: 25px;
  padding: 5px 15px;

  .iconfont {
    font-size: 25px;
  }

  .pathItem {
    cursor: pointer;

    &:hover {
      color: $linkBlue;

    }
  }
}

.dropBox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: none;
  width: 300px;
  height: 300px;
  border: 10px solid #ffd1d9;
  border-radius: 37px;
  background: #ffd1d9;
  color: #FFF;
  font-size: 30px;
  //display: flex;
  align-items: center;
  justify-content: center;

  .copible {
    cursor: pointer;

    &:active {
      background: #e6bdc4;
    }
  }

  .dropBox-text {
    color: #FFF;
    font-size: 30px;
    text-align: center;
    user-select: none;
  }
}


.urls {
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 100px;
  color: #AAA;
  font-size: 12px;
}

.wrapper {
}

#fileInput {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: microsoft YaHei;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  // padding: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.iconfont {
}

.actions {
  padding: 5px;
  display: flex;
  cursor: pointer;


  & > div {
    padding: 5px 10px;

    &:hover {
      box-shadow: 0 1px 10px 0 $border;

      color: $linkBlue;
    }
  }

  .iconfont {
    font-size: 35px;
  }
}
.tree{
width: 100px;
  .tree-node{
    padding-left: 10px;
    padding-top: 5px;
  }
}
